<header>
    <div class="contact">
        <a href="https://www.facebook.com/groups/1105981876268637" target="_blank">
            <img class="fb-icon" src="/icons/2.svg"></img>
        </a>
        <a href="https://api.whatsapp.com/send/?phone=905058065182&text=Merhaba,+plak+almak+istiyordum,+yardımcı+olabilir+misiniz?&app_absent=0" target="_blank">
            <img class="phone-icon" src="/icons/1.svg"></img>
        </a>
        <a href="https://www.facebook.com/messages/t/734736428" target="_blank">
            <img class="msngr-icon" src="/icons/3.svg"></img>
        </a>
    </div>
    <a href="/" class="title" style="font-family: 'Fjalla One', sans-serif; font-size: 2.4rem; letter-spacing: 0.1rem;">Sadece Plak</a>
</header>