<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>

    <%- include("../partials/header.ejs") %>

    <hr class="hr-margin">
    
    <%- body %>

    <hr class="hr-margin">
    
    <footer><p>sadeceplak.com <br> <%= new Date().getFullYear() %> <br> <a href="https://www.linkedin.com/in/serhankileci/">powered by Serhan Kileci</a></p></footer>

</html>